@model IEnumerable<VocabHero.Models.FlashCard.FlashCardListItem>


@{
    ViewBag.Title = "Index";
}

<h2>Flash Card Catalog</h2>
<section class="text-center">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="container-lg">
        <div class="card-columns">


            @foreach (var item in Model)
            {
            <div class="card btn bg-info align-middle" >
                @Html.ActionLink("View Card", "Details", "FlashCard", new { id = item.FlashCardId }, null)
                <h4 class="text-center"> @Html.DisplayFor(modelItem => item.Word)</h4>
                <p> (@Html.DisplayFor(modelItem => item.PartOfSpeech))</p>

            </div>


            }

        </div>
    </div>
</section>
