@model IEnumerable<VocabHero.Models.FlashCard.FlashCardListItem>


@{
    ViewBag.Title = "Index";
}
<div class="container-fluid bg-secondary text-center" style="height:200px; padding-top:80px; padding-left:20%;padding-right:20%;">
    <div class="card bg-light">

        <h2 class="align-middle">Flash Card Dictionary</h2>
    </div>
</div>
<section class="text-center">

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="container-lg">
        <div class="card-columns">


            @foreach (var item in Model)
            {
                <div class="card btn bg-info align-middle">
                    <button type="button" class="btn btn-warning rounded ">
                        @Html.ActionLink("Details", "Details", new { id = item.FlashCardId })
                    </button>

                    <h4 class="text-center"> @Html.DisplayFor(modelItem => item.Word)</h4>
                    <p> (@Html.DisplayFor(modelItem => item.PartOfSpeech))</p>

                </div>


            }

        </div>
    </div>
</section>

@**@
