@font-face{
    font-family:lobster;
    src: url("Fonts/Lobster-Regular.ttf");
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.homeJumbotron{
    font-family:lobster;
    margin-top:5.8vw;
    
}
.homeJumboTronBack
{
    margin-top:5.8vw;
}

.button-class {
    color: white;
    text-decoration: none;
}

.list-class:hover{
color:blueviolet;

}

.link-class:hover {
    text-shadow: mediumpurple, 20px,20px,20px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #ffed61;
    color: black;
    border-radius: 8px;
}

/* Style the back side */
.flip-card-back {
    background-color: #ffed61;
    color: black;
    transform: rotateY(180deg);
    border-radius: 8px;
}
#userFlashCardBack {
    background-color: #FFCE67;
}
#userFlashCardFront {
    background-color: #FFCE67;
}

